#jinja2: lstrip_blocks: True
apiVersion: v1
kind: Secret
type: {{ item.secret_type }}
metadata:
  name: {{ item.secret_name }}
  {% if item.data_type == 'keyvalue' %}
  {% for key, value in (item.secret_data).items() %}
data:
  {{ key }}: {{ value | b64encode }} 
  {% endfor %}
  {% elif item.data_type == 'string' %}
stringData:
  data: |-
    {{ item.secret_data | indent() }}
  {% endif %}
  
